<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div>
    <div>
        <h1>로그인 페이지</h1>
        <label> 이메일 :
            <input type="text" name="email" id="email">
        </label>
        <label> 비밀번호 :
            <input type="password" name="pw" id="pw">
        </label>
        <button type="button" id="loginBtn">로그인</button>
    </div>
</div>
<a href="/sign-up-form">
    <button>회원가입</button>
</a>
<script>
    $(document).on("click", "#loginBtn", function () {
        const email = $("#email").val()
        const pw = $("#pw").val()
        console.log(email)
        console.log(pw)

        $.ajax({
            type: "post",
            url: "/login",
            contentType: "application/json",
            data: JSON.stringify({
                email: email,
                pw: pw
            }),
            success: function (res) {
                let accessToken = res.accessToken;
                let refreshToken = res.refreshToken;

                if (accessToken === "No User") {
                    alert("회원가입 해줘");
                    return;
                }

                // accessToken = "Bearer " + accessToken;
                // refreshToken = "Bearer " + refreshToken;
                // document.cookie = "Authorization=" + accessToken + "; path=/";
                // document.cookie = "RefreshToken=" + refreshToken + "; path=/";

                location.href = "/";
            },
            error: function (error) {
                console.log(error);
            }
        });

    })
</script>
</body>
</html>
